<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login Screen</title>
    <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script>
  </head>
  <body>
    <h1>Quiz App</h1>
    <h1>This is where the login functionality will be</h1>

    <form>
      <!-- Text input field -->
      <label for="userInput">What is your name?:</label>
      <input type="text" id="userInput" name="userInput">
        
      <br>
        
      <a href="/proxy/8099/not_home">Login</a>
    </form>
  </body>
</html>
